/* Box Model Hack */

* {
    box-sizing: border-box;
}


/* Clear fix hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
}

:root {
    --primary: #ECA221;
    --dark: #000;
    --medium: #1b1b1b;
    --light: #2e2e2e;
}


/******************************************
/* LAYOUT
/*******************************************/


/* Mobile */

@media only screen and (min-width: 0em) {

    header {
        display: grid;
        place-content: center;

        h1 {
            text-align: center;
        }
    }

    main {
        padding: 100/20em;

        #grid {
            display: grid;
            place-content: center;

            tr {
                &:nth-child(-n+2) {
                    td {
                        border-bottom: dashed black;
                    }
                }

                td {
                    content: " ";
                    font-size: 100/20em;
                    height: 40/20em;
                    width: 40/20em;
                    text-align: center;

                    &:nth-child(-n+1) {
                        border-right: dashed black;
                    }

                    &:nth-child(-n+2) {
                        border-right: dashed black;
                    }
                }
            }
        }
    }

    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 200ms ease-in-out;
        border: 1px solid black;
        border-radius: 10px;
        z-index: 10;
        background-color: white;
        width: 500px;
        max-width: 80%;
    }

    .modal.active {
        transform: translate(-50%, -50%) scale(1);
    }

    .modal-header {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .modal-header .title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .modal-header .close-button {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .modal-body {
        padding: 10px 15px;
    }

    #overlay {
        position: fixed;
        opacity: 0;
        transition: 200ms ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        pointer-events: none;
    }

    #overlay.active {
        opacity: 1;
    }


}


/* Tablet */

@media only screen and (min-width: 48em) {}


/* Small Desktop */

@media only screen and (min-width: 64em) {}


/* Large Desktop */

@media only screen and (min-width: 1300px) {}